{% extends "homepage.html" %}

{% block title %}
    Fléshi - Criar Conta
{% endblock %}

{% block form %}
<form method="post">
    {{ form.csrf_token }}

    <div class="mb-3 text-start">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        {% if form.email.errors %}
            {% for erro in form.email.errors %}
                <div class="text-danger small">{{erro}}</div>
            {%  endfor%}
        {% endif %}
    </div>

    <div class="mb-3 text-start">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        {% if form.username.errors %}
             {% for erro in form.username.errors %}
                <div class="text-danger small">{{erro}}</div>
            {%  endfor%}
        {% endif %}
    </div>

    <div class="mb-3 text-start">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {% if form.password.errors %}
             {% for erro in form.password.errors %}
                <div class="text-danger small">{{erro}}</div>
            {%  endfor%}
        {% endif %}
    </div>

    <div class="mb-3 text-start">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control") }}
        {% if form.confirm_password.errors %}
             {% for erro in form.confirm_password.errors %}
                <div class="text-danger small">{{erro}}</div>
            {%  endfor%}
        {% endif %}
    </div>

    <div class="d-grid gap-2">
        {{ form.submit(class="btn btn-primary btn-lg") }}
    </div>
</form>
<hr class="my-4">
<a href="{{ url_for('homepage') }}" class="text-decoration-none" style="color: #74b9ff;">Já tem conta? Faça login.</a>
{% endblock %}