{% extends "homepage.html" %}

{% block title %}
    Fléshi - Feed
{% endblock %}

{% block body %}
    {% include "navbar.html" %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h1 class="mb-4 text-center">Feed Principal</h1>

                {% for photo in photos %}
                    <div class="custom-card p-3">
                        <div class="mb-2">
                            <a href="{{ url_for ('profile', user_id=photo.user_id) }}" class="text-decoration-none fw-bold text-dark">
                                Ver Autor
                            </a>
                        </div>
                        <img src="{{ url_for('static', filename='post_photos/'~ photo.file_name) }}" class="feed-img" alt="Post">
                        <div class="mt-2">
                            </div>
                    </div>
                {% else %}
                    <div class="text-center p-5">
                        <p>Nenhuma foto no feed ainda.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}